.photo-grid {
  display: grid;
  grid-area: photo-grid;
  margin: 92px 3.75%;
  max-width: 92.5%;
  grid-gap: 16px;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  grid-template-rows: repeat(3, minmax(213px, 1fr));
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(225px, 1fr));
    grid-gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    grid-template-rows: repeat(6, minmax(264px, 1fr));
  }

}
@media screen and (max-width: 319px) {
.photo-grid {
  grid-template-columns: 288px;
    grid-template-rows: repeat(12, minmax(216px, 1fr));
    grid-gap: 14px;
    margin-left: 5%;
    margin-right: 5%;
}
}
