.header__link-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 46px;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (max-width:767px) {
  .header__link-list {
    margin-top: 30px;
  }
}
