.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1023px) {
  .footer__links {
    display: grid;
    grid-gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}
