.lead__image {
  display: flex;
  padding-bottom: 8px;
  max-width: 984px;
  min-height: 615px;
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-width: 928px;
    min-height: 580px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
  max-width: 100vw;
  min-height: 480px;
  }
}

@media screen and (max-width: 319px) {
  .lead__image {
    max-width: 100%;
    min-height: 200px;
     }
 }
