.lead__image {
  display: flex;
  padding-bottom: 8px;
  max-width: 984px;
  min-height: 615px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    width: 100%;
    max-width: 928px;
    min-height: initial;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    min-height: 200px;
  }
}
