.page {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
}
