.place__link {
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin-left: 16px;
  }
}


.place__link:hover {
  opacity: 0.8;
}
