.cover__title {
  font-family: 'Inter' 'Arial' 'sans-serif';
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  margin: 245px auto 32px;
  max-width: 560px;
  min-height: 152px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin: 195px auto 32px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 115px auto 32px;
  }
}

@media screen and (max-width: 319px) {
  .cover__title {
    margin: 33px 16px 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
